@import "../../vars.css";

.container {
  padding: 80px 10%;
  background-color: var(--color-dark);
  color: var(--color-text);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--color-primary);
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--color--secondary);
}

.projectBlock {
  margin-bottom: 60px;
}

.projectContent {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text {
  flex: 1;
  text-align: justify;
  text-justify: inter-word;
  min-width: 280px;
}

.text p {
  margin-bottom: 12px;
  line-height: 1.6;
}

.link {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.images img {
  width: 180px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
